@model Profiles.Business.Profile

@{
    ViewBag.Title = "Admin: Edit " + Model.FirstName + " " + Model.LastName;
}

<h1>Edit @(Model.FirstName + " " + @Model.LastName)</h1>

<div class="panel">
    <div class="panel-header">
        <h3>Edit @(Model.FirstName + " " + @Model.LastName)</h3>
    </div>
    
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    </div>
                }
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
