@using Profiles.Business;
@model ProfileCollection

@Styles.Render("/Content/index.css")

@{
    /**/

    ViewBag.Title = "Profile Home Page";
}

<div style="width:580px;display:inline-block">
    <table>
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="padding: 37px 60px 16px 0px;">
                        <span class="formText07" style="color: #000000; font-size: 36px; letter-spacing: 0px; line-height: 39px;">
                            SPIE Profiles is an Optics and Photonics networking Platform for Professionals
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="SectionLabel">Search Profiles</span> <br>
                    <input name="txtSearch" type="text" maxlength="100" id="txtSearch" class="formFieldCommon SearchInput">
                    <a id="hSearch" class="SearchButton"></a>
                </td>

                <td>
                    @if (Session["UserID"] != null)
                    {
                        <span class="SectionLabel">Welcome back, <a href="/profiles/view/@Session["UserID"]">@Session["UserName"].ToString()</a>!</span>
                    }
                    else
                    {
                        <span class="SectionLabel">New to SPIE Profiles?</span> <br>
                        <a id="ctl00_Main_hCreateAccount" class="SignUp" href="/Profile/NewUser">Sign Up</a>
                        <span class="formText07" style="font-size: 15px;">Create your profile today! <br>It's free and easy.</span>
                    }
                </td>


            </tr>
        </tbody>
    </table>

    <div style="background-color: #cb232a; height: 2px; width: 568px; margin-top: 20px;">
    </div>

    <div class="AppPromoTitle">Going Mobile</div>

    <table>
        <tr>
            <td>
                <div class="AppPromoBackground">
                    <table border=0 cellpadding=0 cellspacing=0 style="background-color: Transparent;">
                        <tr>
                            <td align=left valign=top>
                                <a href="https://play.google.com/store/apps/details?id=org.spie.profiles"><img id=imgProfilesApp class="AppIcon" src="/images/ProfilesApp.png" alt="SPIE Profiles App" height=70 width=70 border=0 /></a>
                            </td>
                            <td align=left valign=top>
                                <div style="padding-left: 6px; padding-top: 3px;">
                                    <span class="formText01">SPIE Profiles App</span> <br />
                                    <span class="formText07">Easy access to SPIE profiles</span> <br />
                                    <a href="https://play.google.com/store/apps/details?id=org.spie.profiles" class="AppLink">Free Download</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="AppPromoBackground">
                    <table border=0 cellpadding=0 cellspacing=0 style="background-color: Transparent;">
                        <tr>
                            <td align=left valign=top>
                                <a href="https://play.google.com/store/apps/details?id=org.spie.conferences"><img id=imgConfApp class="AppIcon" src="/images/ConfApp.png" alt="SPIE Conference App" height=70 width=70 border=0 /></a>
                            </td>
                            <td align=left valign=top>
                                <div style="padding-left: 6px; padding-top: 3px;">
                                    <span class="formText01">Conference App</span> <br />
                                    <span class="formText07">Get convenient updates</span> <br />
                                    <a href="https://play.google.com/store/apps/details?id=org.spie.conferences" class="AppLink">Free Download</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="ProfilePromos">
    <span class="SectionLabel">Who's using SPIE Profiles?</span>

    <div style="background-color: #000000; height: 8px; width: 100%;">
    </div>

    @foreach (var profile in Model.ProfileList.OrderByDescending(profile => profile.ID).Take(3))
    {
        <div class="ProfileContainer">
            <span class="ProfileImageContainer">
                <img class="ProfileImageSmall" title="@profile.FirstName" alt="@profile.FirstName" src="/images/profilepictures/@profile.PictureFileName" />
            </span>

            <div class="ProfileInfoBox">
                <div>
                    <a target="_blank" href="/profiles/view/@profile.ID">@profile.FirstName @profile.LastName </a>
                </div>
                <div>
                    @profile.Company <br />
                    @profile.SPIERole
                </div>
            </div>
        </div>
        <div class="SearchProfileBreak"></div>
    }
</div>

<script type="text/javascript">
    $(document).ready(() => {
        $(document).on("click", '.SearchButton', (event) => {
            location.href = ("/Search/" + $('.SearchInput').val());
        });

        $(document).on("keypress", '.SearchInput', (event) => {
            if (event.which == 13)
                location.href = ("/Search/" + $('.SearchInput').val());
        });
    });
</script>