@using WebApplication.Models.Profile
@model ProfileModel

@Styles.Render("/Content/Profile.css")

@{
    ViewBag.Title = "Profile View";
}

<div class="ProfileBody">
    @if (Session["UserID"] != null && Session["UserID"].ToString().Equals(Model.ID))
    {
        <a class="EditButton btn btn-primary" href="/Edit">Edit</a>
    }
    <table>
        <tr>
            <td class="ProfileImageContainer">
                <img class="ProfileImageLarge" src="~/Images/ProfilePictures/@Model.PictureFileName" alt="@Model.FullName" />
            </td>
            <td class="ProfileInfo">
                <h1 class="formHead2"> @Model.FullName </h1>
                <span class="formText07"> @Model.JobTitle </span>
                <br />
                <span class="formText07"> @Model.Company </span>
                <br />
                <span class="formText07"> @Model.SPIERole</span>
                <br />
                <br />
            </td>
        </tr>
    </table>
</div>
<a href="/" class="btn btn-secondary">Home</a>